body {
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    font-family: "Silkscreen", serif;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgba(186, 123, 5, 0.901);
    margin: auto;
    top: 0;
    z-index: 1;
    padding-bottom: .7rem;
}

a {
    color: antiquewhite;
}

h1 {
    max-width: 10rem;
    padding: .3rem 1rem;
    border-radius: 10px;
    background: linear-gradient(rgb(204, 0, 78), rgb(35, 0, 56));
    text-shadow: 2px 2px 2px rgb(187, 114, 4);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
    max-width: 20rem;
    text-shadow: 2px 2px 2px rgb(207, 1, 214);
    line-height: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: .9rem;
}

input {
    font-family: "Silkscreen", serif;
    width: 5rem;
    height: 3rem;
    background: linear-gradient(rgb(126, 0, 204), rgb(61, 2, 98));
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.btn1 {
    margin-top: 1rem;
}

.btn1, .btn2 {
    font-family: "Silkscreen", serif;
    max-width: 10rem;
    height: 3rem;
    background: linear-gradient(rgb(204, 0, 129), rgb(98, 2, 69));
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    transition: all 0.2s ease-in-out; 
    padding: .7rem 2rem;

}

button:hover {
    background: linear-gradient(rgb(238, 197, 32), rgb(107, 35, 1));
}

.status {
    background: linear-gradient(rgb(255, 108, 108), rgb(192, 0, 0));
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.status2 {
    background: linear-gradient(rgb(68, 153, 2), rgb(0, 47, 0));
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.parrafox2 {
    background: linear-gradient(rgb(32, 83, 165), rgb(61, 2, 98));
    color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1rem;
}

#parrafo {
    text-justify: auto;
    max-width: 15rem;
    text-shadow: 2px 2px 2px rgb(207, 1, 214);
}

.verif {
    background: linear-gradient(rgb(160, 109, 41), rgb(3, 144, 52));
    padding: .8rem 2rem;
    text-shadow: 2px 2px 2px rgb(255, 0, 170);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

#space {
    padding-top: 6rem;
}

#sec1 {
    height: max-content;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
}

article {
    position: relative;
    max-width: 15rem;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border: 10px solid rgb(255, 255, 255);

}


article img:first-child {
    border-radius: 2rem;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    max-width: 11rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    /* transform: translateY(25%); */
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
    /* transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0); */
}

article::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

#sec2 {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/waves_live.gif);
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    flex-direction: column;
}

.stickers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

img {
    width: auto;
    max-height: 15rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

img:hover {
    scale: 1.1;
}


#sec3 {
    margin-top: 2rem;
    padding-top: 9rem;
    height: 900px;
    width: 100%;
    background-color: rgb(12, 71, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;

}

.combinaciones {
    background-color: rgb(169, 155, 0);
    width: max-content;
    padding: 2rem 1rem;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    border-radius: 2rem;
    gap: .8rem;
    border: 10px solid rgb(154, 101, 1);
}

#respuesta {
    margin-top: 1rem;
    padding: .5rem;
}


select, option {
    font-family: "Silkscreen", serif;
    width:4rem;
    height: 3rem;
    text-align: center;
    background: linear-gradient(rgb(126, 0, 204), rgb(61, 2, 98));
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

option {
    background-color: rgb(61, 2, 98);
}

i { 
    color: rgb(255, 255, 255);
    padding-top: 1rem !important;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(5, 130, 207);
    padding: .5rem;
    border-radius: 1rem;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

i:hover {
    background-color: rgb(0, 123, 8);
    scale: 1.2;
    border: 5px solid white;
}

@media (min-width: 1200px) {
    .stickers {
        flex-direction: row;

    }
}